@using AspNetAppForTestingRazor.ViewModels.Recipes
@model AddRecipeInputModel
<h1>Add recipe</h1>

<form method="post" class="row row-cols-6 active clearfix align-items-center text-center text-capitalize" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group col-md-6  clearfix">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger @*text-justify*@"></span>
    </div>
    <div class="form-group col-md-6  clearfix">
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger @*text-justify*@"></span>
    </div>
    <div class="form-group col-md-6  clearfix">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger @*text-justify*@"></span>
    </div>
    <div class="form-group col-md-6  clearfix">
        <label asp-for="Description"></label>
        <textarea rows="10" asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger @*text-justify*@"></span>
    </div>
    @*<div class="form-group">*@
    <div class="form-group col-md-6  clearfix">
        <label asp-for="RecipeType"></label>
        @*<select>
            <option style="background-image:url(male.png);">male</option>
            <option style="background-image:url(female.png);">female</option>
            <option style="background-image:url(others.png);">others</option>
        </select>*@ 
        @*<select asp-for="RecipeType" class="form-control">
            <optgroup label="Test-Gropu">
                <option></option>
                <option></option>
                <option></option>
            </optgroup>
        </select>*@
        <select asp-for="RecipeType" class="form-control" asp-items="@Html.GetEnumSelectList<RecipeType>()"></select>
        @*<input asp-for="RecipeType" class="form-control"/>*@
        <span asp-validation-for="RecipeType" class="text-danger @*text-justify*@"></span>
    </div>
    <div class="form-group col-md-6  clearfix">
        <label asp-for="FirstCooked"></label>
        <input asp-for="FirstCooked" class="form-control" />
        <span asp-validation-for="FirstCooked" class="text-danger @*text-justify*@"></span>
    </div>
    <div class="form-group col-md-6  clearfix">
        <label asp-for="Time.CookingTime"></label>
        <input asp-for="Time.CookingTime" class="form-control" />
        <span asp-validation-for="Time.CookingTime" class="text-danger @*text-justify*@"></span>
    </div>
    <div class="form-group col-md-6  clearfix">
        <label asp-for="Time.PreparationTime"></label>
        <input asp-for="Time.PreparationTime" class="form-control" />
        <span asp-validation-for="Time.PreparationTime" class="text-danger @*text-justify*@"></span>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
