@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<partial name="_HomePageStart" />
<partial name="_HomePageStart" />
@*@Html.Editor("firstName")
@using (Html.BeginForm())
{
   
}*@
@section Links{ 
    <li class="nav-item">
        <a class="nav-link text-white" href="https://bing.com">Bing</a>
    </li>
}
